{% set navigation_bar = [
    ("/admin/map", "Map"),
    ("/admin/threads", "Threads"),
    ("/admin/logs", "Logs"),
    ("/admin/settings", "Settings"),
    ("/admin/teams", "Teams"),
    ("/admin/services", 'Services'),
    ("/admin/boxes", "Boxes"),
    ("/admin/flags", "Flags"),
    ("/admin/exfils", "Exfils"),
    ("/admin/scripts", "Scripts"),
    ("/admin/flagrets", "Flag Retrievals"),
    ("/admin/commands", "Queued Commands"),
    ("/admin/ssh", "SSH Creds")
] -%}
{% set active_page = active_page|default('Home') -%}

{% macro input(name, id, type, value="") -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        <input type="{{ type }}" class="form-control" placeholder="{{ name }}" aria-label="{{ name }}"
               aria-describedby="basic-addon1" name="{{ id }}" value="{{ value }}" required>
    </div>
{%- endmacro %}

{% macro service_select(services, ip, id) -%}
    <select class="form-control" name="{{ id }}" required>
        {% for service in services %}
            <option value="{{ service.ip }}"{% if service.ip == ip %} selected{% endif %}>
                {{ service.name }} ({{ service.ip }})
            </option>
        {% endfor %}
    </select>
{%- endmacro %}

{% macro input_service_select(services, name, id) -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        {{ service_select(services, -1, id) }}
    </div>
{%- endmacro %}

{% macro bool_select(current, id) -%}
    <select class="form-control" name="{{ id }}" required>
        <option value="{{ true }}"{% if current == true %} selected{% endif %}>True</option>
        <option value="{{ false }}"{% if current == false %} selected{% endif %}>False</option>
    </select>
{%- endmacro %}

{% macro input_bool_select(name, id) -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        {{ bool_select(-1, id) }}
    </div>
{%- endmacro %}

{% macro box_select(boxes, id) -%}
    <select class="form-control" name="{{ id }}" required>
        <option value="all" selected>All</option>
        {% for box in boxes %}
            <option value="{{ box.team_num }}-{{ box.service_ip }}">
                {{ box.team.name }} - {{ box.service.name }}
            </option>
        {% endfor %}
    </select>
{%- endmacro %}

{% macro input_box_select(boxes, name, id) -%}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{ name }}</span>
        </div>
        {{ box_select(boxes, id) }}
    </div>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
        <title>{{ active_page }} - Admin</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">CyberChef2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for path, name in navigation_bar %}
                <li class="nav-item{% if name == active_page %} active{% endif %}">
                    <a href="{{ path }}" class="nav-link">
                        {{ name }}{% if name == active_page %} <span class="sr-only">(current)</span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div id="card">
    <h3 class="card-header">{{ active_page }}</h3>
    <div class="card-body">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</div>
{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>