{% extends "base.html" %}
{% set active_page = "Flag Retrievals" %}
{% block content %}
    <p>Flags are extracted from stdout on remote shell.</p>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Service</th>
            <th scope="col">Command</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for flagret in flagrets %}
            <tr>
                <form action="/admin/flagrets/update" method="post">
                    <input type="hidden" name="id" value={{ flagret.id }}>
                    <th scope="row">{{ flagret.id }}</th>
                    <td>{{ service_select(services, flagrets.service_ip, "service_ip") }}</td>
                    <td><input class="form-control" type="text" name="command" value="{{ flagret.command }}" required>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/admin/flagrets/delete?id={{ flagret.id }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/admin/flagrets/add" method="post">
        {{ input_service_select(services, "Service", "service_ip") }}
        {{ input("Command", "command", "text") }}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}