{% extends "base.html" %}
{% set active_page = "Flags" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Flag</th>
            <th scope="col">IP</th>
            <th scope="col">Team</th>
            <th scope="col">Service</th>
            <th scope="col">Source</th>
            <th scope="col">Found</th>
            <th scope="col">Submitted</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for flag in flags %}
            <tr>
                <th scope="row">{{ flag.flag }}</th>
                <td>{{ subnet }}{{ flag.team_num }}.{{ flag.service_ip }}</td>
                <td>{{ flag.team.name }}</td>
                <td>{{ flag.service.name }}</td>
                <td>{{ flag.source }}</td>
                <td>{{ flag.found }}</td>
                <td>{{ flag.submitted }}</td>
                <td><a class="btn btn-primary" href="/admin/flags/mark?id={{ flag.id }}">Mark Submitted</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="/admin/flags/submit">Submit un-submitted flags</a>
{% endblock %}