{% extends "base.html" %}
{% set active_page = "MSF Exploits" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Service</th>
            <th scope="col">Exploit</th>
            <th scope="col">Options</th>
            <th scope="col">Payload</th>
            <th scope="col">Last Success</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for msf in msfs %}
            <tr>
                <form action="/admin/msfs/update" method="post">
                    <input type="hidden" name="id" value={{ msf.id }}>
                    <th scope="row">{{ msf.id }}</th>
                    <td>{{ service_select(services, msf.service_ip, "service_ip") }}</td>
                    <td><input class="form-control" type="text" name="exploit" value="{{ msf.exploit }}" required></td>
                    <td><input class="form-control" type="text" name="options" value="{{ msf.options }}" required></td>
                    <td><input class="form-control" type="text" name="payload" value="{{ msf.payload }}" required></td>
                    <td>{{ msf.last_success }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/admin/msfs/delete?id={{ msf.id }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/admin/msfs/add" method="post">
        {{ input_service_select(services, "Service", "service_ip") }}
        {{ input("Exploit", "exploit", "text") }}
        <p>Enter options like OPTION1:VALUE1,OPTION2:VALUE2</p>
        {{ input("Options", "options", "text") }}
        {{ input("Payload", "payload", "text") }}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}