{% extends "base.html" %}
{% set active_page = "Services" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">IP</th>
            <th scope="col">Name</th>
            <th scope="col">Port</th>
            <th scope="col">SSH Port</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <form action="/admin/services/update" method="post">
                    <input type="hidden" name="ip" value={{ service.ip }}>
                    <th scope="row">{{ service.ip }}</th>
                    <td><input class="form-control" type="text" name="name" value="{{ service.name }}" required></td>
                    <td><input class="form-control" type="number" name="port" value={{ service.port }} required></td>
                    <td><input class="form-control" type="number" name="ssh_port" value={{ service.ssh_port }} required>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/admin/services/delete?ip={{ service.ip }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/admin/services/add" method="post">
        {{ input("IP", "ip", "number") }}
        {{ input("Name", "name", "text") }}
        {{ input("Port", "port", "number") }}
        {{ input("SSH Port", "ssh_port", "number", 22) }}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}