{% extends "base.html" %}
{% set active_page = "Settings" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Value</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <form action="/admin/settings/update" method="post">
                    <input type="hidden" name="name" value={{ setting.name }}>
                    <th scope="row">{{ setting.name }}</th>
                    <td>{{ setting.description }}</td>
                    <td><input class="form-control" type="text" name="value" value="{{ setting.value }}" required></td>
                    <td><input class="btn btn-primary" type="submit" value="Update"></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}