{% extends "base.html" %}
{% set active_page = "Teams" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <form action="/admin/teams/update" method="post">
                    <input type="hidden" name="num" value={{ team.num }}>
                    <th scope="row">{{ team.num }}</th>
                    <td><input class="form-control" type="text" name="name" value="{{ team.name }}" required></td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/admin/teams/delete?num={{ team.num }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/admin/teams/add" method="post">
        {{ input("Number", "num", "number") }}
        {{ input("Name", "name", "text") }}
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}