{% extends "base.html" %}
{% set active_page = "Teams" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <form action="/admin/teams/update" method="post">
                    <input type="hidden" name="num" value={{ team.num }}>
                    <th scope="row">{{ team.num }}</th>
                    <td><input class="form-control" type="text" name="name" value="{{ team.name }}" required></td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/admin/teams/delete?num={{ team.num }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/admin/teams/add" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Number</span>
            </div>
            <input type="number" class="form-control" placeholder="Number" aria-label="Number"
                   aria-describedby="basic-addon1" name="num" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                   aria-describedby="basic-addon1" name="name" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}